 <div class="row">
  <div class="row section-header" style="padding-bottom: 0px;">
    <div class="col s12">
      <i class="material-icons left" style="margin-top: 26px;">today</i>
      <h4 class="page-title">Generar Solicitud</h4>
    </div>
  </div>
  <div class="row content-container server margin">
    <div class="row margin">
      <div class="card" style="height: 100%;">
          <div class="card-content row" style="height: 100%;">
            <!-- <form id="busafi" ng-submit="buscaracasusuarios()"> -->
              <div class="col s12">
                <div class="col l6 m6 s12">
                  <div class="input-field col m12 s12" style="display: flex;align-items: flex-end;">
                    <label style="margin-top: -20px;">Area (*)</label>
                    <i class="material-icons">store</i>
                    <select class="select-chosen-eps" id="areaid" ng-model="filtroarea" ng-change="obtenerconcepto()"style="height: auto;">
                      <option value="0">SELECCIONAR</option>
                      <option ng-repeat="area in areas" value="{{area.CODIGO}}">{{area.NOMBRE}}</option>
                    </select>
                  </div>
                </div>
                <div class="col l6 m6 s12">
                  <div class="input-field col m12 s12" style="display: flex;align-items: flex-end;">
                    <label style="margin-top: -20px;">Concepto (*)</label>
                    <i class="material-icons">assignment</i>
                    <select class="select-chosen-eps" id="conceptoid" ng-model="filtroconcepto" ng-change="obtenermotivo()" style="height: auto;">
                      <option value="0">SELECCIONAR</option>
                      <option ng-repeat="concepto in conceptos" ng-value="concepto.CODIGO">{{concepto.NOMBRE}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col s12" style="margin-top: 30px;">
                <div class="col l6 m6 s12">
                  <div class="input-field col m12 s12" style="display: flex;align-items: flex-end;">
                    <label style="margin-top: -20px;">Motivo (*)</label>
                    <i class="material-icons">library_books</i>
                    <select class="select-chosen-eps" id="motivoid"ng-model="filtromotivo" ng-change="obtenerasunto()" style="height: auto;">
                      <option value="0">SELECCIONAR</option>
                      <option ng-repeat="motivo in motivos" ng-value="motivo.CODIGO">{{motivo.NOMBRE}}</option>
                    </select>
                  </div>
                </div>
                <div class="col l6 m6 s12">
                  <div class="input-field col m12 s12" style="display: flex;align-items: flex-end;">
                    <label style="margin-top: -20px;">Asunto (*)</label>
                    <i class="material-icons">receipt</i>
                    <select class="select-chosen-eps" id="asuntoid" ng-model="filtroasunto" ng-change="obtenerprioridad()" style="height: auto;">
                      <option value="0">SELECCIONAR</option>
                      <option ng-repeat="asunto in asuntos" ng-value="asunto.CODIGO" value ="asunto.CODIGO">{{asunto.NOMBRE}}</option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="col s12" style="margin-top: 30px;">
                <div class="col s12">
                  <div class="file-field input-field">
                    <form id="anexo2" method="post" enctype="multipart/form-data">
                    <div class="btn">
                      <input type="text" name="tipodocumento" ng-value="tipodocumentoa" style="display: none;">
                      <input type="text" name="documento" ng-value="documentoa" style="display: none;">
                      <input type="text" name="ftp" ng-value="ftp" style="display: none;">
                      <input type="text" name="folder" ng-value="folder" style="display: none;">
                      <input type="text" name="nuevonombre" ng-value="nuevonombre" style="display: none;">
                      <input type="text" name="doct" ng-value="doct" style="display: none;">
                      <input type="text" name="obs" ng-value="obs" style="display: none;">
                      <input type="text" name="conc" ng-value="conc" style="display: none;">
                      <input type="text" name="mot" ng-value="mot" style="display: none;">
                      <input type="text" name="asunto" ng-value="asunto" style="display: none;">
                      <input type="text" name="priori" ng-value="priori" style="display: none;">
                      <input type="text" name="barrio" ng-value="barrio" style="display: none;">
                      <span class="white-text">ARCHIVO</span>
                      <input id="anexo2adj" name="adjunto" accept=".png,.jpg,.jpeg,.pdf,.doc,.zip" type="file">
                    </div>
                  </form>
                    <div class="file-path-wrapper">
                      <input  class="file-path validate" type="text" id="textadj"  placeholder="Subir Archivo">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12">
                <div class="col s12">
                  <div class="form-group shadow-textarea">
                    <label style=" margin-top: -20px;">Descripcion caracteres: {{count}}</label>
 <!--                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" ng-keyup="handleKeyPress($event)" ng-model="descripcion" cols="50" placeholder="Comentario" tyle="margin: 0px; height: 123px; width: 1270px;" style="margin: 0px; width: 1268px; height: 134px;"></textarea> -->
                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" ng-keyup="handleKeyPress($event)" ng-model="descripcion" cols="50" placeholder="Comentario" tyle="margin: 0px; height: 123px;" style="margin: 0px;/* width: 1268px; */height: 134px;"></textarea>
                    <label style=" margin-top: -20px;">Prioridad</label>
                    <span class="{{clase}}" ng-hide="vw_prioridad"> {{prioridad}} </span>
                  </div>
<!--                   <div class="input-list">
                    <label style=" margin-top: -20px;">Descripcion caracteres: {{count}}</label>
                    <textarea  placeholder="Comentario" ng-keyup="handleKeyPress($event)" ng-model="descripcion" rows="4" cols="50" style="margin: 0px 0px 10px; border-radius: 10px; border-style: solid; border-color: rgb(26, 46, 99); height: 116px; width: 1264px;"> 
                    </textarea>
                    <label style=" margin-top: -20px;">Prioridad</label>
                    <span class="{{clase}}" ng-hide="vw_prioridad"> {{prioridad}} </span>
                  </div> -->
                </div>
              </div>

              <div class="col s12" style="display: flex;justify-content: flex-end;margin-top: 1em;">
                   <button  type="button" ng-click="limpiar()" ng-hide="solicitudacas" class="btn btn-primary" style="margin-right: 1em">Limpiar Solicitud</button>
                   <img src="assets/images/pacman.gif" ng-show="gifsolicitudacas">
                   <button  type="button" ng-click="insertaracas()" ng-disabled="saved" ng-hide="solicitudacas" class="btn btn-primary" >{{ nombre_acas}} </button>
             </div>
           <!-- </form> -->
         </div>

     </div>
   </div>
 </div>

