<div id="modalpqr" style="width: 90%; margin: 0 auto;overflow: hidden;">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close style-btn-close"></div>
        <div class="card-content">
            <h5 id="ngdialog1-aria-labelledby">Edición {{dataPqrExcel.CODIGOSUPER}}</h5>
        </div>
        <div class="card-content clearfix">
            <div class="row">
                <div class="col s12">
                    <blockquote id="datosRiegovida" class="display-flex noselectxtpqr">
                        <strong class="c-none">CARGUE</strong>
                    </blockquote>
                </div>
                <!-- </div>
            <div class="row"> -->
                <div class="col s3 w-20 align-items" style="margin-top: 10px">
                    <div class="switch">
                        <label>
                            NO REPORTA
                            <input type="checkbox" ng-init="check_reportar = true" ng-model="check_reportar" ng-change="filterAreas='';check_reportar==true ? pqrDataSuper.reporta='S':pqrDataSuper.reporta='N'">
                            <span class="lever"></span>
                            REPORTA
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="dataPqrExcel.RIESGO=='N'">
                <div class="col s12">
                    <div id="riesgo">
                        <div class="col s12">
                            <blockquote id="datosRiegovida" class="display-flex noselectxtpqr">
                                <strong class="c-none">RIESGO DE VIDA</strong>
                            </blockquote>
                        </div>
                        <div class="row">
                            <div>
                                <div class="col s3">
                                    <div class="col s12">
                                        <label class="c-pointer noselectxtpqr" for="c-objetivo">Criterio Objetivo</label>
                                        <select class="select-chosen-eps select pt-select-pqr" id="c-objetivo" ng-model="pqrDataSuper.selectedCriteriObjetivo">
                                            <option value="">NO APLICA</option>
                                            <option ng-repeat="co in criteriObjetivo" ng-value="co.CODIGO">{{co.NOMBRE}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="col s12">
                                        <label class="c-pointer noselectxtpqr" for="c-subjetivo">Criterio Subjetivo</label>
                                        <select class="select-chosen-eps select pt-select-pqr" id="c-subjetivo"
                                            ng-model="pqrDataSuper.selectedCriterioSubjetivo">
                                            <option value="">NO APLICA</option>
                                            <option ng-repeat="cs in criterioSubjetivo" ng-value="cs.CODIGO">{{cs.NOMBRE}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="col s12">
                                        <label class="c-pointer noselectxtpqr" for="c-complementario">Criterio
                                            Complementario</label>
                                        <select class="select-chosen-eps select pt-select-pqr" id="c-complementario"
                                            ng-model="pqrDataSuper.selectedCriteriComplementario" ng-change="changeComplement(pqrDataSuper.selectedCriteriComplementario)">
                                            <option value="">NO APLICA</option>
                                            <option ng-repeat="cc in criterioComplementario" ng-value="cc.CODIGO">{{cc.NOMBRE}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3" ng-hide="sujeto">
                                <div class="col s12">
                                    <label class="c-pointer noselectxtpqr" for="s-especial">Sujetos</label>
                                    <select class="select-chosen-eps select  pt-select-pqr" id="s-especial" ng-model="pqrDataSuper.selectedSujetosProteccionEspecial">
                                        <option value="0">NO APLICA</option>
                                        <option ng-repeat="sj in sujetosProteccionEspecial" ng-value="sj.CODIGO">{{sj.NOMBRE}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col s3">
                                <div class="col s12">
                                    <label class="c-pointer noselectxtpqr" for="servicios">Servicios</label>
                                    <select class="select-chosen-eps select  pt-select-pqr" id="servicios" ng-model="pqrDataSuper.selectedServicios">
                                        <option value="">NO APLICA</option>
                                        <option ng-repeat="s in servicios" ng-value="s.CODIGO">{{s.NOMBRE}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col s3">
                                <div class="col s12">
                                    <label class="c-pointer noselectxtpqr" for="medicamentos">Medicamentos</label>
                                    <select class="select-chosen-eps select  pt-select-pqr" id="medicamentos" ng-model="pqrDataSuper.selectedMedicamentos">
                                        <option value="">NO APLICA</option>
                                        <option ng-repeat="m in medicamentos" ng-value="m.CODIGO">{{m.NOMBRE}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="col s12">
                        <blockquote id="datosRiegovida" class="display-flex noselectxtpqr">
                            <strong class="c-none">SOPORTE DEL PQR</strong>
                        </blockquote>
                    </div>
                    <div class="input-field col m10 s12 w-100">
                        <div class="file-field input-field">
                            <div class="btn">
                                <i class="icon-file-pdf"></i>
                                <input type="file" name="adjunto" id="pqrfile" select-files-super ng-model="fileArray">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="inputFilePlaceHolder" class="file-path" type="text" placeholder="Adjuntar archivo">
                                <span ng-if="sformato" ng-class="{'red-text': pqrDataSuper.adjunto==null, 'green-text': pqrDataSuper.adjunto!=null }">{{sformato}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="float-none text-center">
                <a class="waves-effect waves-light btn white-text red" ng-click="cancelarSuper();">LIMPIAR</a>
                <a class="waves-effect waves-light btn white-text" ng-click="validateSave();">
                    GUARDAR PQR
                </a>
            </div>
        </div>
    </div>
</div>