<div class="white newdesing" id="pantalla">
  <style>
    .newdesing .content-container {
      min-height: 0;
    }
  </style>
  <div class="row section-header margin">
    <ul class="left mailbox-custom-search list-inline w-100 d-flex justify-content-between align-items-center">
      <li id="inicio">
        <h5 class="cursor-pointer"
          style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0"
          onclick="location.reload();">
          Procesos Especiales
        </h5>
      </li>
    </ul>
  </div>

  <div class="row dashboard-wrapper content-container white" style="height: 90vh;">
    <div class="col l12 m12 s12 center">
      <div style="position: absolute;width: 83vw;margin-top: 10em;margin-left: 5em;">
        <div id="Imagen_back">
          <img src="images\administrativa\consultatercero.svg" alt="Imagen">
        </div>
      </div>
    </div>
    <!-- //// -->
    <div class="card-content clearfix card" style="width: 40%;margin: 1rem auto auto auto;border-radius: 8px;">
      <div class="row" style="margin-bottom: 0; width: 88%;">
        <div class="col s12 no-padding label-new" style="width: 98%; margin-bottom: 3rem;">
          <label class="label-new-shirley" style="left: 129.5px;">Seleccionar Tipo Proceso</label>
          <select ng-model="tipodeItem" ng-change="SeleccionarItem()" class="select-new gray-input"
            style="box-shadow: none;display: block; padding: 5;border-radius: 10px;">
            <option value="0">Seleccionar</option>
            <option ng-repeat="reporte in Reportes" ng-value="reporte.CODIGO">{{reporte.NOMBRE}}</option>
          </select>
        </div>
      </div>
    </div>

    <div id="Form" class="card-content clearfix card" ng-show="vercontenido"
      style="width: 87%;margin: 2rem auto auto auto;border-radius: 8px;">
      <div class="row" style="margin-bottom: 13;width: 98%;margin-top: 1rem;">
        <div ng-show="contenido1" class="tabla-result" style="max-height: 57vh;">
          <div class="card-content">
            <h5 style="display: flex;">{{Nombrereporte}}</h5>
          </div>
          <div class="card-action">

            <div class="row">
              <div ng-show="show_regimen" class="col l3 m3 s3" style="padding-left: 20px; padding-right: 0px;"
                ng-init="regimen='X'">
                <label style="padding-left: 25%;">Regimen</label>
                <select ng-model="regimen" style="display: flex;border: 1px solid #dee2e6; border-radius: 0.25rem;">
                  <option value="X">Seleccionar</option>
                  <option value="C">CONTRIBUTIVO</option>
                  <option value="S">SUBSIDIADO</option>
                </select>
              </div>
              <div class="col l2 m2 s2" style="padding-left: 20px; padding-right: 0px;" ng-init="cargaAnnos()">
                <label style="padding-left: 25%;">Año:</label>
                <select ng-model="anno" style="display: flex;border: 1px solid #dee2e6; border-radius: 0.25rem;">
                  <option ng-repeat="anno in Annos" ng-value="anno.ANNO">{{anno.ANNO}}</option>
                </select>
              </div>
              <div ng-show="show_ciclo" class="col l2 m2 s2" style="padding-left: 20px; padding-right: 0px;"  ng-init="ciclo='M'">
                <label style="padding-left: 25%;">Ciclo:</label>
                <select ng-model="ciclo" ng-disabled="true"
                  style="display: flex;border: 1px solid #dee2e6; border-radius: 0.25rem;">
                  <option value="M">MENSUAL</option>
                  <option ng-repeat="ciclo in Ciclos" ng-value="ciclo.IDE">{{ciclo.NOMBRE}}</option>
                </select>
              </div>
              <div class="col l2 m2 s2" style="padding-left: 20px; padding-right: 0px;" ng-init="periodo=0">
                <label style="padding-left: 25%;">Periodo:</label>
                <select ng-model="periodo" style="display: flex;border: 1px solid #dee2e6; border-radius: 0.25rem;" ng-change="changeItem(periodo)">
                  <option value="0" ng-disabled="true">Seleccionar Periodo</option>
                  <option ng-repeat="periodo in Periodos" value="{{periodo}}">{{periodo.NOMBRE}}</option>
                </select>
              </div>
              <div ng-show="show_nit" class="col l3 m3 s3">
                <label style="padding-left: 32%;" id="numero_doc1">Nit:</label>
                <div class="col s12 ">
                  <input id="nit" ng-model="nit" type="text" style="border: 1px solid #dee2e6;
                    border-radius: 0.25rem;
                    background-color: #fff;
                    background-clip: padding-box;
                    padding: 0 1em;">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <center>
                  <button class="btn btn-primary" type="submit" ng-click="Generar_reporte()"
                    style="border-radius:5px;">Gestionar</button>
                </center>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>


  </div>

  <style>
    #Imagen_back {
      cursor: pointer;
      width: 50vw;
      margin: auto;
      opacity: .4;
    }

    /* //////////////////////////////////////////////////////////////////////////////// */
  </style>
</div>