<div id="inicioafiliados">
    <style>
        .dashboard-wrapper {
            height: calc(100vh - 64px);
            padding: 36px;
            margin-bottom: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(images/people.png);
            position: relative;
        }

        .box {
            width: 35vw;
            margin: 1em auto;
            padding: 1em 2em;
            animation: bounceInDown 1s ease-in;
            transition: 0.9s;
        }
        a {
            color: #10daf3;
        }
    </style>
    <div class="row dashboard-wrapper content-container white">
        <div class="col s6" style="background-color: #1a2e63a3;color: white;border-radius: 26px;">
            <div class="center-align box">
                <h2 class="margin">Bienvenido</h2>
                <p class="left-align">Consulta tu Información básica <a href="#/datosbasicos">click aquí</a>, o accede
                    a todos tus servicios de salud desde cualquier lugar del país <a href="https://genesis.cajacopieps.com//solicitud_portabilidad.php"
                        target="_blank">solicitando tu portabilidad</a>.</p>
            </div>
        </div>
    </div>
</div>