<div>
    <style>

        .mt-5{
            margin-top: 30px;
        }


        #modalpopUp {
            max-height: 100% !important;
            border-radius: 0 !important;
            background-color: transparent !important;
            width: 800px !important;

        }

        .li {
            float: left;
            width: 100%;
            padding: 1%;
            margin: 0 0 1.5em;
            height: 40px;
            border-radius: 0;
            box-shadow: none;
            background-color: rgb(242, 242, 242);
        }

        #modalpopUp>div {

            display: flex;
            padding: 0;
            width: 800px !important;

        }

        .ng-animate,
        .ng-enter-active,
        .ng-enter,
        .ng-leave-active {
            transition: all 0s;
        }

        .step {

            background-color: #9e9e9e;
            color: white;
            display: flex;
            align-items: center;
            padding: 0.5em 1em;
            border-radius: 5%;
            cursor: default;
            user-select: none;

        }

        .step-item {
            width: auto;
            border-radius: 5%;
            padding: 0 1em;

        }

        #toast-container .toast {
            /* width: 470px; */
            /* width: fit-content; */
            border-radius: 25px !important;
            font-weight: 600;
            text-align: center !important;
            word-break: keep-all;
            padding: 10px 25px;
            width: auto;
        }



        .steper {
            width: 100%;
            display: inline-flex;
            text-align: center;
        }

        .step-divider {
            width: 100%;
            margin: auto;
        }

        .btn-step-content {
            position: relative;
            display: none;
            height: calc(100% - 132px);
            width: inherit;
            overflow: visible;
            margin-left: 41px;
            margin-right: 24px;
        }

        .step-option {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .step-option>button {
            height: auto;
            padding: 0.5em 1em;
            line-height: normal;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 5em;
        }

        .back-step,


        .back-step:hover {
            margin-top: 7px;
            position: absolute;
            right: 80px;
            background: #ff4350 !important;

        }

        .btn-step {
            background-color: rgba(0, 0, 0, .3);
            color: white;
        }

        .no-cursor {
            cursor: not-allowed;
        }

        @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

        .file-upload-wrapper {
            position: relative;
            width: 100%;
            height: 44px;
            border: 1px solid #eeeeee;
            z-index: 1;

        }

        .file-upload-wrapper:after {
            content: attr(data-text);
            font-size: 18px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            padding: 10px 15px;
            display: block;
            width: calc(100% - 40px);
            pointer-events: none;
            z-index: 20;
            height: 40px;
            line-height: 24px;
            color: #999;
            border-radius: 5px 10px 10px 5px;
            font-weight: 300;
        }



        .file-upload-wrapper:before {
            content: "Adjuntar";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            height: 43px;
            background: #4daf7c;
            color: #fff;
            font-weight: 700;
            z-index: 25;
            font-size: 16px;
            line-height: 44px;
            padding: 0 15px;
            text-transform: uppercase;
            pointer-events: none;
            border-radius: 0 5px 5px 0;
        }


        .file-upload-wrapper:hover:before {
            background: #3d8c63;
        }



        .file-upload-wrapper input {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99;
            height: 43px;
            margin: 0;
            padding: 0;
            display: block;
            cursor: pointer;
            width: 100%;

        }

        /* disabled */

        .file-upload-wrapper2 {
            position: relative;
            width: 100%;
            height: 44px;
            border: 1px solid #eeeeee;
            z-index: 1;
        }



        .file-upload-wrapper2:after {
            content: attr(data-text);
            font-size: 18px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            padding: 10px 15px;
            display: block;
            width: calc(100% - 40px);
            pointer-events: none;
            z-index: 20;
            height: 40px;
            line-height: 24px;
            color: #999;
            border-radius: 5px 10px 10px 5px;
            font-weight: 300;
        }

        .file-upload-wrapper2:before {
            content: "Adjuntar";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            height: 43px;
            background: #919292;
            color: #fff;
            font-weight: 700;
            z-index: 25;
            font-size: 16px;
            line-height: 44px;
            padding: 0 15px;
            text-transform: uppercase;
            pointer-events: none;
            border-radius: 0 5px 5px 0;

        }

        .file-upload-wrapper2:hover:before {
            background: #919292;
        }

        .file-upload-wrapper2 input {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99;
            height: 43px;
            margin: 0;
            padding: 0;
            display: block;
            cursor: not-allowed !important;
            width: 100%;

        }



        .invalid {

            color: red;

        }
    </style>
    <div id="my_menu" class="row section-header" style="background: #9897e81f;margin-bottom: 0">
        <div class="col l12">
            <ul class="left mailbox-custom-search list-inline"
                style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
                <div class="foot4 divcardcustom">
                    <div class="text-al switch divcardcustom2" style="text-align: center;">
                        <div class="input-button">

                        </div>

                        <strong>Generacion de capita</strong>

                    </div>
                </div>

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col l12 m12 s12">
            <ul tabs="" reload="allTabContentLoaded"
                class="ng-isolate-scope tabs ui-tabs ui-corner-all ui-widget ui-widget-content">
                <li class="tab col l12" style="cursor: pointer;">
                    <a ng-class="{ active: isSet(1) }" ng-click="setTab(1)" id="tab"
                        class="col l12 large waves-effect waves-pink tabI">Periodo
                    </a>
                </li>
                <li class="tab col l12" style="cursor: pointer;">
                    <a ng-class="{ active: isSet(2) }" ng-click="setTab(2); cargar_datos()"
                        class="col l12 large waves-effect waves-pink tabII">
                        Gestión matriz de descuento
                    </a>
                </li>

                <li class="tab col l12" style="cursor: pointer;">
                    <a ng-class="{ active: isSet(3) }" ng-click="setTab(3); cargar_datos()"
                        class="col l12 large waves-effect waves-pink tabII">
                        Novedades de capita
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" style="width: 90% ;    background: #fff;      margin-top: 30px;
    padding: 10px;  margin-bottom: -77px; padding-top: 30px;">
        <div ng-show="isSet(1)">

            <div ng-show="primeraparte">




                <div class="row">
                    <div class="col s12">

                        <strong>
                            <i class="fa fa-calendar "></i>
                            Estado del periodo <b> {{texto_estado}} - {{ periodo }}
                                </b>

                        </strong>

                    </div>

                    <div ng-if="estadodelperiodo != 'A'  " class="col s12 m12 l12"
                        style="position: absolute; right: -38%;">
                        <div class="row center">
                            <button class="btn" style="border-radius: 5px;background-color: #4CAF50;"
                                ng-click="Generarperiodo()">Crear periodo</button>
                        </div>
                    </div>

                </div>
                <br>




                <div class="row">
                    <div class="col s12">

                        <h3>
                            <strong>
                                {{ estadocapitamensaje }}
                                <i class="fa fa-database " aria-hidden="true"></i>

                            </strong>
                        </h3>

                    </div>

                </div>
                <br>



                <div ng-if="estaddodelacapita != 'A'  " class="col s12 m12 l12">
                    <div class="row center">
                        <button class="btn" style="border-radius: 5px;background-color: #4CAF50;"
                            ng-click="generarcapitab()">Generar</button>
                    </div>
                </div>

            </div>


            <div ng-show="segundaparte">

                <div class="row">
                    <div class="col s12">

                        <strong>
                            <i class="fa fa-calendar "></i>
                            Crear periodo
                        </strong>

                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col s6">
                        <div class="input-field">
                            <input id="fechainicio" ng-model="fechainicio" type="date">
                            <label for="fechainicio" class="active">Fecha de Inicio</label>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <input id="fechafinal" ng-model="fechafinal" type="date">
                            <label for="fechafinal" class="active">Fecha final</label>
                        </div>
                    </div>

                </div>

                <br>

                <div class="col s12 m12 l12">
                    <div class="row center">
                        <button class="btn" style="border-radius: 5px;background-color: #4CAF50;"
                            ng-click="crearperiodog()">Crear Periodo</button>
                    </div>
                </div>


            </div>



        </div>


        <div ng-show="isSet(2)">

            <div class="row">
                <div class="col s12">

                    <div class="col 12" style="margin-top: 16px; margin-left: 40%;">
                        <div class="switch" style="margin-left: 1em;">

                            <label for="medida" class="labelper">Descargue</label>
                            <label>
                                <input type="checkbox" ng-click="PorPQR()" ng-model="hideinformacion"><span
                                    class="lever"></span>
                            </label>
                            <label for="medida" ng-click="Porfecha" class="labelper">Cargue</label>
                        </div>
                    </div>

                </div>


            </div>

            <br>

            <div class="row" ng-hide="hideinformacion">
                <div class="row">
                    <div class="col s12">

                        <strong>
                            <i class="fa fa-calendar "></i>
                            Estado del periodo <b> {{texto_estado}} - {{ periodo }}
                                 </b>
                        </strong>
                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col s6">
                        <select class="select-new gray-input m-l" style="box-shadow: none;" material-select watch
                            ng-model="tipos_concepto">
                            <option disabled value="">SELECCIONAR</option>
                            <option value="{{item.codigo}}" ng-repeat="item in conceptos">{{item.nombre}}</option>

                        </select>

                        <label id="tipos_concepto">Tipos de concepto</label>
                    </div>


                    <div class="col s6">
                        <select class="select-new gray-input m-l" style="box-shadow: none;" material-select watch
                            ng-model="regimen">
                            <option disabled value="">SELECCIONAR</option>
                            <option value="C">CONTRIBUTIVO</option>
                            <option value="S">SUBSIDIADO</option>


                        </select>

                        <label id="tipos_concepto">Regimen</label>

                    </div>

                    <!-- <div ng-if="estadodelperiodo != 'A'  " class="col s12 m12 l12"
                        style="position: absolute; right: -38%;">
                        <div class="row center">
                            <button class="btn" style="border-radius: 5px;background-color: #4CAF50;"
                                ng-click="Generarperiodo()">Crear periodo</button>
                        </div>
                    </div> -->


                </div>

                <div class="col s12 m12 l12 mt-5">
                    <div>
                        <button class="btn" style="border-radius: 5px;background-color: #4CAF50;"
                            ng-click="descargarconceptocapita()">Descargar</button>
                    </div>
                </div>

                <div class="col s12 m12 l12 mt-5">
                    <div>
                        <button class="btn" style="border-radius: 5px;background-color: #4CAF50;"
                            ng-click="descargarconsolidar()">Descargar consolidar</button>
                    </div>
                </div>

            </div>

            <div class="row" ng-show="hideinformacion">
                <div class="row">
                    <div class="col s6">

                        <strong>
                            <i class="fa fa-calendar "></i>
                            Estado del periodo <b> {{texto_estado}} - {{ periodo }}
                                 </b>

                        </strong>

                    </div>


                </div>
                <br>

                <div class="row">
                    <div class="col s6">
                        <select class="select-new gray-input m-l" style="box-shadow: none;" material-select watch
                            ng-model="tipodeconcepto3">
                            <option disabled value="">SELECCIONAR</option>
                            <option value="{{item.codigo}}" ng-repeat="item in conceptos">{{item.nombre}}</option>

                        </select>

                        <label id="tipodeconcepto3">Tipos de concepto</label>
                    </div>

                    <div class="col s6">
                        <select class="select-new gray-input m-l" style="box-shadow: none;" material-select watch
                            ng-model="regimenc">
                            <option disabled value="">SELECCIONAR</option>
                            <option value="C">CONTRIBUTIVO</option>
                            <option value="S">SUBSIDIADO</option>


                        </select>

                        <label id="tipos_concepto">Regimen</label>

                    </div>

                </div>

                <br>

                <form>

                    <div class="col s6">
                        <div class="row">

                            <div class="col s11" style="padding-left: 7px;">
                                <form class="form">
                                    <div class="file-upload-wrapper" data-text="Subir archivo" style="width: 475px;">
                                        <input ng-init="inactivect=true" name="file-upload-field" id="periodo" type="file" style="width: 414px;"
                                            class="file-upload-field" value="">
                                    </div>
                                </form>
                            </div>
                            <div class="col s1" style="position: relative; right: 20px; top: 9px;">
                                
                            </div>
                        </div>
                    </div>


                </form>

                <br>
                

                <div class="row">
                    <div class="col s12 m12 l12 mt-5">
                        <div>
                            <button class="btn" style="border-radius: 5px;background-color: #4CAF50; margin-left: 8px;"
                                ng-click="Cargarcapita()">Cargar</button>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div ng-show="isSet(3)">


            <div class="row">
                <div class="col s6">

                    <strong>
                        <i class="fa fa-calendar "></i>
                        Periodo actual - 08/2020
                    </strong>

                </div>


            </div>
            <br>

            <div class="row">
                <div class="col s4 no-padding label-new m-b select_maxheigth">
                    <select class="select-new gray-input m-l" style="box-shadow: none;" material-select watch
                        ng-model="tipodeconcepto3">
                        <option disabled value="">SELECCIONAR</option>
                        <option value="{{item.codigo}}" ng-repeat="item in conceptos">{{item.nombre}}</option>

                    </select>

                    <label id="tipodeconcepto3">Tipos de concepto</label>
                </div>

            </div>

            <br>

            <div class="col s6">
                <div class="file-field input-field">

                    <label for="jpediatria" id="nombrecampo2" class="active black-text">Periodo </label>
                    <input id="formulamedica" class="file-upload-field" name="adjunto" accept=".pdf,.png,.jpg"
                        type="file">
                    <div class="file-path-wrapper">
                        <input ng-model="soporte.formulamedia" class="file-path validate" type="text"
                            id="formulamedicat" placeholder="Subir Soporte">
                        <a class="file-path validate" type="text" id="juzgado"><i
                                style="font-size: 25px;  position: absolute;top: 12px;right: 4px;background-color: white;"
                                class="default-color zmdi zmdi-attachment-alt"></i></a>
                    </div>

                </div>
            </div>

            <div class="col s12 m12 l12">
                <div class="row center">
                    <button class="btn" style="border-radius: 5px;background-color: #4CAF50;"
                        ng-click="Cargarcapita()">Cargar</button>
                </div>
            </div>



        </div>

        <div id="modal1" class="modal" style="    width: 500px;
    max-height: 75%;
    overflow: hidden;">
            <div class="modal-content">
                <h5>Detalles # {{numero_modal}}</h5>

                <div class="row">
                    <div class="col l12 m12 s12">

                        <div class="col l12 m12 s12  input-field" style="    padding-bottom: 20px;">
                            <label for="des" id="-desz" class="active">Producto:</label>
                            <div
                                style="        padding: 5px; overflow: auto;    height: calc(42vh - 210px);    width: 100%;    margin-top: 10px;    margin-left: -4px;    border: 1px solid #4d524d38;">
                                <span class="ng-binding" style="">
                                    {{modal_producto | uppercase}}</span>
                            </div>
                        </div>
                        <div class="col l12 m12 s12  input-field" style="    padding-bottom: 20px;">
                            <label for="des" id="-desz" class="active">Clasificación:</label>
                            <div
                                style="       padding: 5px;  overflow: auto;    height: calc(35vh - 210px);    width: 100%;    margin-top: 10px;    margin-left: -4px;    border: 1px solid #4d524d38;">
                                <span class="ng-binding" style="">
                                    {{modal_clasificacion | uppercase}}</span>
                            </div>
                        </div>
                        <div class="col l12 m12 s12  input-field" style="    padding-bottom: 20px;">
                            <label for="des" id="-desz" class="active">Observación:</label>
                            <div
                                style="      padding: 5px;   overflow: auto;    height: calc(45vh - 210px);    width: 100%;    margin-top: 10px;    margin-left: -4px;    border: 1px solid #4d524d38;">
                                <span class="ng-binding" style="">
                                    {{modal_observacion | uppercase}}</span>
                            </div>
                        </div>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>

                    </div>
                </div>
            </div>
        </div>
        <style type="text/css">
            a.active {
                border-bottom: 1px solid;
            }

            th,
            td {
                text-align: center;
                word-break: break-word;
            }

            i {
                cursor: pointer;
            }

            .pagination li {
                padding: 0 1px;
            }

            span.tooltiptext {
                background: #bbc8ec !important;
                color: #191919 !important;
                border-bottom: 1px solid !important;
            }

            .vista_elements {
                position: absolute;
                z-index: 20000;
                width: 100%;
                height: 100vh;
                overflow: auto;
                left: 0;
                top: 0;
                padding: 2em 5em 0;
                background: rgba(0, 0, 0, 0.4);
                text-align: center;
            }

            .d-pdf {
                display: flex;
                justify-content: center;
            }

            .nombre {
                top: 41px;
                font-size: 11px
            }

            @media only screen and (max-width: 992px) {
                .titulochat {
                    display: block !important;
                }

                .triangulo {
                    display: none !important;
                }
            }

            .fecha {
                margin-left: 49%;
                top: -15px;
                position: relative;
            }

            .triangulo {
                display: block;
                position: absolute;
                top: 28px;
                left: 60px;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid #d4d4d4;
                size: 25px;

            }

            .trianguloderecha {
                border-left: 10px solid #d4d4d4 !important;
                left: 80% !important;
                border-right: 0px solid #2e2e2e !important;
            }

            .circuloderecho {
                margin-left: 80%;
            }

            .cuadroderecho {
                margin-left: 10% !important;
                box-shadow: -5px 5px 5px 0 #d0d0d0, 0 2px 10px 0 #9f9f9f !important;
            }

            .fechaderecha {
                margin-left: 15%
            }

            .textoderecho {
                display: block;
                text-align: right;
            }

            .nombrederecho {
                display: block;
                text-align: right;
                margin-bottom: -21px
            }

            input[disabled] {
                color: #111 !important;

            }

            .cuadro {
                width: 70%;
                margin-left: 0px;
                margin-top: -1px;
                background-color: #ffffff !important;
                border-radius: 5px;
                box-shadow: 5px 5px 5px 0px #d0d0d0, 0 2px 10px 0 #9f9f9f;
                padding: 5px 20px;
            }

            #attachmenticon {
                cursor: pointer;
                width: 50px;
            }

            #attachmenticon:hover {
                border-radius: 49px;
                border: 1px solid;
                border-color: gray;
                box-shadow: 0px 0px 7px 0px #1fbbac;
                transition: border 0.5s;
            }

            .avchat {
                padding: 0 !important;
                width: 60px !important;
                height: 60px !important;
                top: 16px;
            }

            .avchat2 {
                padding: 0 !important;
                width: 42px !important;
                height: 42px !important;
                top: 16px;
            }

            .avletra {
                color: #ffffff;
                font-size: -webkit-xxx-large;
                margin-top: 24%;
            }

            .avtitle {
                margin-top: 20px;
                position: fixed;
                font-size: 20px;
                color: black !important;
            }

            .dwnIcon {
                cursor: pointer;
                margin-top: 14px;
                position: absolute;
            }

            .highlight {
                background-color: #d7d8d8 !important;
            }

            .divaprobado {
                padding-top: 2px;
                padding-bottom: 2px;
                background-color: #56b949;
            }

            .fontaprobado {
                font-size: 18px;
                color: white;
            }

            .row {
                margin-bottom: 0px;
            }

            input[disabled] {
                color: #111;
            }
        </style>

    </div>