<div id="pantalla" class="white newdesing" style="position:relative">
    <!-- Contenido  -->
    <div class="row dashboard-wrapper content-container white" style="padding-bottom: 20px;margin-bottom: 0;">
        <div class="col l12 m12 s12" style="position:relative">
            <!-- /////////////////////////////////////////////// -->
            <div class="row">
                <div class="col s4">
                    <i class="material-icons left" style="margin-top: 14px;">more_vert</i>
                    <h5>Consultar Siniestros</h5>
                </div>
                <div class="col s8" style="text-align: right; margin-top: 15px;">
                    <div class="col s12 input-padding">
                        Tipos de busqueda :
                        <span> <input class="with-gap" type="radio" ng-model="Tabs" name="occurrences" value="HOJA1"
                                id="HOJA1" />
                            <label style="height: 0!important" ng-class="{'default-color': Tabs=='HOJA1' }" for="HOJA1"
                                ng-click="SetTab('HOJA1')">Documento</label>
                        </span>
                        <span> <input class="with-gap" type="radio" ng-model="Tabs" name="occurrences" value="HOJA2"
                                id="HOJA2">
                            <label style="height: 25px!important" ng-class="{'default-color': Tabs=='HOJA2'}"
                                for="HOJA2" ng-click="SetTab('HOJA2')">Avanzado</label>
                        </span>
                    </div>
                </div>
                <div class="col s12">
                    <form ng-submit="KeyFind()">
                        <div class="col s11" ng-show="Tabs=='HOJA1'">
                            <div class="row margin">
                                <div class="col offset-s3" style="margin-top: 2.5vh;">
                                    <i class="material-icons prefix"
                                        style="margin-top: 10px;font-size: 4vh;">assignment_ind</i>
                                </div>
                                <div class="col s4">
                                    <div class="row" style="margin: 0">
                                        <label for="with_icon" style="margin-top: -20px;">Tipo de Documento</label>
                                    </div>
                                    <select class="select-chosen-eps" ng-model="Vista1.Tipo_Doc">
                                        <option value="" disabled>SELECCIONAR</option>
                                        <option value="CC">Cédula de Ciudadanía</option>
                                        <option value="TI">Tarjeta de Identidad</option>
                                        <option value="RC">Registro Civil</option>
                                        <option value="CE">Cédula de Extranjería</option>
                                        <option value="CN">Certificado Nacido Vivo</option>
                                        <option value="SC">Salvoconducto</option>
                                        <option value="PA">Pasaporte</option>
                                        <option value="PE">Permiso Especial de Permanencia</option>
                                        <option value="AS">Adulto sin Identificación</option>
                                        <option value="MS">Menor sin Identificación</option>
                                        <option value="CD">Carnet Diplomático</option>
                                    </select>
                                </div>
                                <div class="col s4">
                                    <div class="row" style="margin: 0">
                                        <label for="with_icon" style="margin-top: -20px;">Numero de Documento</label>
                                    </div>
                                    <input id="Num_Doc" type="text" autocomplete="off" ng-model="Vista1.Num_Doc">
                                </div>
                            </div>
                        </div>

                        <div class="col s11" ng-show="Tabs=='HOJA2'">
                            <div class="row margin">
                                <div class="col offset-s2" style="margin-top: 2.5vh;">
                                    <i class="material-icons prefix"
                                        style="margin-top: 10px;font-size: 4vh;">assignment_ind</i>
                                </div>
                                <div class="col s3">
                                    <div class="row" style="margin: 0">
                                        <label for="with_icon" style="margin-top: -20px;">Estado</label>
                                    </div>
                                    <select class="select-chosen-eps" ng-model="Vista2.Estado">
                                        <option value="" disabled>SELECCIONAR</option>
                                        <option value="A">Activos</option>
                                        <option value="X">Anulados</option>
                                        <option value="P">Procesados</option>
                                    </select>
                                </div>
                                <div class="col s3">
                                    <div class="row" style="margin: 0">
                                        <label for="with_icon" style="margin-top: -20px;">Ubicación</label>
                                    </div>
                                    <select class="select-chosen-eps" ng-model="Vista2.Ubicacion">
                                        <option value="" disabled>SELECCIONAR</option>
                                        <option value="8">Atlántico</option>
                                        <option value="13">Bolivar</option>
                                        <option value="15">Boyaca</option>
                                        <option value="20">Cesar</option>
                                        <option value="23">Cordoba</option>
                                        <option value="44">Guajira</option>
                                        <option value="47">Magdalena</option>
                                        <option value="50">Meta</option>
                                        <option value="70">Sucre</option>
                                        <option value="X">TODOS</option>
                                    </select>
                                </div>
                                <div class="col s3">
                                    <div class="row" style="margin: 0">
                                        <label for="with_icon" style="margin-top: -20px;">Cohorte</label>
                                    </div>
                                    <select class="select-chosen-eps" ng-model="Vista2.Cohorte">
                                        <option value="" disabled>SELECCIONAR</option>
                                        <option style="text-transform: capitalize;"
                                            ng-selected="x.CODIGO == Vista2.Cohorte"
                                            ng-repeat="x in Array_Patologias" value="{{x.CODIGO}}">{{x.NOMBRE}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col s1 right">
                            <div class="input-field col m12 s12">
                                <button class="btn white-text"
                                    style="padding-right: 5px; padding-left: 5px; margin-top: 10px;"><i
                                        style="position: relative;" class="material-icons prefix">search</i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /////////////////////////////////////////////// -->
        </div>
        <!-- /////////////// -->
        <div class="row dashboard-wrapper content-container white"
            style="padding-bottom: 20px;margin-bottom: 0;padding-left: 20px;padding-right: 20px;"
            ng-if="Listado.Lista.length > 0">
            <div class="col l12 m12 s12" style="position:relative">
                <div class="col s7 no-padding label-new">
                    <div style="font-size: 1.2em;"><strong> Siniestros encontrados {{Listado.Lista.length}} por el
                            filtro
                            Anterior</strong>
                    </div>
                </div>
                <!-- // -->
                <div class="col s5" style="margin-top:3em;">
                    <div class="col s10 no-padding label-new m-b right"
                        style="margin-right: .5rem !important;margin-top: 0;">
                        <input class="margin border-none input-text-new gray-input w-100 m-l" type="text"
                            placeholder="..." ng-model="Listado.Filtro" ng-change="filter(Listado.Filtro)">
                        <label>Buscar</label>
                        <i class="icon-search cursor-pointer default-color" style="margin-left: -1.45em;"
                            title="Buscar"></i>
                    </div>
                </div>

                <!-- /TABLA/ -->
                <div style="width:100%;">
                    <table id="H1_Tabla" class="bordered table_center_align"
                        style="width:100%;font-size:6px !important;">
                        <thead class="default-background white-text">
                            <tr>
                                <th>NÚM. DEL SINIESTRO</th>
                                <th>SECCIONAL</th>
                                <th>COHORTE</th>
                                <th>CLASIFICACION</th>
                                <th>DIAGNOSTICO</th>
                                <th>FUENTE</th>
                                <th>ESTADO</th>
                                <th>FECHA IDENTIFICACION</th>
                                <th>FECHA CONF. DIAGNOSTICO</th>
                                <th>SOPORTES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="X in Listado.ListaTemp | inicio: currentPage * pageSize | limitTo: pageSize | orderBy:propertyName:reverse"
                                style="color: black;cursor:pointer;">

                                <td>{{X.RADICADO}}</td>
                                <td>{{X.UBICACION}}</td>
                                <td>{{X.DESCRIPCION_COHORTE}}</td>
                                <td>{{X.CLASE_CONCEPTO}}</td>
                                <td>{{X.DIAGNO}}</td>
                                <td>{{X.ORIGEN}}</td>
                                <td>{{X.ESTADO}}</td>
                                <td>{{X.FECHA_IDENTIFICACION}}</td>
                                <td>{{X.FECHA_CONF_DIAGNOSTICO}}</td>
                                <td>
                                    <div class="tooltip" style="float:right;margin: 0px 15px 0px 30px;"
                                        ng-if="X.SOPORTE == ''">
                                        <i class="icon-warning cursor-pointer" style="font-size: 1.5em;"></i>
                                        <span class="tooltiptext"
                                            style="font-size: 12px;width: 60px;margin-left: -30px;">Sin
                                            Soporte</span>
                                    </div>
                                    <div class="tooltip" style="float:right;margin: 0px 15px 0px 30px;"
                                        ng-if="X.SOPORTE != ''">
                                        <i class="icon-download cursor-pointer" style="font-size: 1.5em;"
                                            ng-click="Descargar_Soporte(X.SOPORTE,X.FTP)"></i>
                                        <span class="tooltiptext"
                                            style="font-size: 12px;width: 60px;margin-left: -30px;">Descargar
                                            Soporte</span>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="Listado.ListaTemp.length==0">
                                <td class="center-align" colspan="8" style="font-weight: bolder;">No se
                                    encontraron
                                    resultados.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width: 100%;display: flex;">
                        <div style="width: 50%;">
                            <label for="normal">Total de documentos filtrados:
                                {{Listado.ListaTemp.length}}</label>
                        </div>
                        <div style="width: 50%;text-align: right;">
                            <label for="normal">Total de documentos encontrados:
                                {{Listado.Lista.length}}</label>
                        </div>
                    </div>
                    <div style="width: 100%;display: flex;">
                        <!-- <div style="width: 33%;"></div> -->
                        <div style="width: 100%;">
                            <ul style="text-align: center;padding-top: 0px;" class="pagination">
                                <li><button ng-disabled='currentPage == 0'
                                        class="btn-floating default-color default-border"
                                        style="background-color: white;font-weight: 800;"
                                        ng-click="paso('back')">&laquo;</button></li>
                                <li ng-repeat='page in pages'><button ng-disabled='currentPage == page.no - 1'
                                        class="btn-floating default-color default-border"
                                        style="background-color: white;font-weight: 800;"
                                        ng-click='setPage(page.no)'>{{page.no}}</button>
                                </li>
                                <li><button ng-disabled='currentPage >= Listado.ListaTemp.length/pageSize - 1'
                                        class="btn-floating default-color default-border"
                                        style="background-color: white;font-weight: 800;"
                                        ng-click="paso('next')">&raquo;</button></li>
                            </ul>
                        </div>

                    </div>

                </div>
                <!-- // -->
            </div>
        </div>
        <!-- /////////////// -->
    </div>
    <style>
        #tabla_scroll th {
            padding: 3px 10px;
        }

        #tabla_scroll li>button.btn {
            font-size: small;
            height: auto;
            line-height: inherit;
            padding: 0 1rem;
        }

        .table_border,
        .table_border th,
        .table_border td {
            border: 1px solid #c2c2c2;
        }

        .table_center_align,
        .table_center_align th,
        .table_center_align td {
            text-align: center;
        }



        #tabla_detalleglosa th {
            position: sticky;
            top: 0;
            z-index: 9;
        }

        .swal-wide {
            width: 850px !important;
        }
    </style>
</div>